.backdrop {
  position: fixed;
  inset: 0;
  z-index: 99;
  background: linear-gradient(180deg, rgba(250, 24, 24, 1) 0%, rgba(250, 227, 24, 1) 13%, rgba(137, 232, 135, 1) 31%, rgba(19, 237, 252, 1) 50%, rgba(19, 27, 252, 1) 74%, rgba(254, 14, 150, 1) 100%);
  mix-blend-mode: plus-lighter;
}

.project {
  position: fixed;
  inset: 0 1rem;
  z-index: 100;
  background-color: color-mix(in oklab, var(--clr-gray-black) 94%, transparent 0%);
  box-shadow: 0 0 18px 0 color-mix(in oklab, var(--clr-green-pearl-powder) 40%, transparent 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 1rem 3rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block-start: 6px;
    width: 100%;

    & > div img {
      block-size: 28vw;
      inline-size: 28vw;
    }

    & > button {
      transition: all 0.3s ease-in-out;
      position: absolute;
      inset-block-start: 50%;
      inset-block-start: 18px;
      inset-inline-start: 8px;

      & svg {
        block-size: 32px;
        inline-size: 32px;
        border: 1px solid var(--clr-red-himalayan-balsam);

        & path {
          stroke: var(--clr-red-himalayan-balsam);
        }
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (width >= 576px) {
  .project {
    .header {
      justify-content: space-between;

      & > div {
        position: relative;
        inset-block-start: 2px;
        inset-inline-end: 4px;

        & img {
          block-size: 125px;
          inline-size: 125px;
        }
      }

      & > button {
        position: static;
      }
    }
  }
}

@media (width >= 768px) {
  .project {
    inset-block: 0;
    inset-inline-start: 6rem;
    inset-inline-end: 0;
    border-inline-start: 2px solid var(--clr-gray-black);
    box-shadow: -8px 0 18px 0 color-mix(in oklab, var(--clr-green-pearl-powder) 40%, transparent 0%);
    align-items: stretch;
    padding-inline: 24px;

    .header {
      min-block-size: 125px;
      padding-block-start: 24px;
      padding-inline: 20px;
      align-items: stretch;
      justify-content: space-between;

      & > div {
        position: relative;
        inset-block-start: 0;
        inset-inline-end: 0;

        & img {
          block-size: 134px;
          inline-size: 134px;
        }
      }

      & > button {
        position: static;

        & svg {
          block-size: 40px;
          inline-size: 40px;
          border: none;
        }
      }
    }
  }
}

@media (width >= 992px) {
  .project {
    padding-inline: 6rem;

    .header > button svg {
      block-size: 48px;
      inline-size: 48px;
    }
  }
}
