.experiences {
  display: flex;
  flex-direction: column;
  /* gap: 24px 32px; */
  gap: 48px;
  padding-block: 12px 64px;
}

@media (min-width: 768px) {
  .experiences {
    flex-direction: row;
  }
}
