/* .layout {
  display: flex;
  flex-direction: column;
  gap: 0;
  min-block-size: 100%;
}

.panels {
  display: flex;
  gap: 48px;
  padding-block: 80px;
  position: relative;
  left: -130px;
  inline-size: 100dvw;

  .nav {
    display: flex;
    flex-direction: column;
    min-inline-size: 300px;
    padding-inline-start: 130px;

    & > nav {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;

      & > a {
        font-size: 16px;
      }
    }
  }

  & main {
    inline-size: 100%;
    overflow-x: auto;
    padding-block-start: 14px;
  }

  .projectsList {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 24px 32px;
    overflow-x: auto;
  }
}
 */
.projects {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-block-start: 12px;

  & > div > img {
    filter: brightness(0) saturate(100%) invert(32%) sepia(98%) saturate(750%) hue-rotate(248deg) brightness(65%);
  }
}

.desc {
  max-inline-size: 75%;
}

@media (min-width: 768px) {
  .projects {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 24px;
  }
}
