.linkList {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.link {
  font: 400 20px / 1 var(--font-russo-one);
  color: var(--clr-violet-belladonna);
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.15s ease;
  display: flex;
  align-items: center;
  gap: 0.5ch;

  & > img {
    inline-size: 10px;
  }

  &:hover {
    opacity: 0.6;
  }

  &.active {
    color: var(--clr-gray-white);

    & > img {
      filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%);
    }
  } 
}
