/* Light mode (default) */
:root {
  /* Grays */
  --clr-gray-white: oklch(100% 0 0);
  --clr-gray-white-edgar: oklch(95% 0 0);
  --clr-gray-cynical-black: oklch(15% 0 0);
  --clr-gray-existential-angst: oklch(8% 0 0);

  /* Greens */
  --clr-green-winds-breath: oklch(90% 0.01 120);

  /* Violets */
  --clr-violet-quiet-melody: oklch(54.309% 0.26829 286.452);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Grays */
    --clr-gray-white: oklch(15% 0 0);
    --clr-gray-white-edgar: oklch(20% 0 0);
    --clr-gray-cynical-black: oklch(95% 0 0);
    --clr-gray-existential-angst: oklch(100% 0 0);

    /* Greens */
    --clr-green-winds-breath: oklch(30% 0.01 120);

    /* Violets */
    --clr-violet-quiet-melody: oklch(30% 0.26829 286.452);
  }
}
