.skillsContainer {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-inline-end: 130px;
}

.skillsSection {
  display: flex;
  justify-content: space-between;
  gap: 32px;

  .icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 24px 12px;

    & > img {
      width: 32px;
      filter: brightness(0) invert(1);
    }
  }
}
