.skillsContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.skillsSection {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .icons {
    display: flex;
    flex-flow: row wrap;
    gap: 24px 12px;
    max-inline-size: 400px;

    & > img {
      width: 16px;
      filter: brightness(0) invert(1);
    }
  }
}

@media (min-width: 768px) {
  .skillsContainer {
    padding-inline-end: 130px;
    gap: 64px;

    .skillsSection {
      flex-direction: row;
      justify-content: space-between;
      gap: 32px;

      .icons {
        justify-content: flex-end;

        & > img {
          width: 28px;
        }
      }
    }
  }
}
