@import "tailwindcss";
@import "../styles/typography.css";
@import "../styles/colors.css";

:root {
  --background: var(--clr-gray-white);
  --foreground: var(--clr-gray-cynical-black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-google-sans-code: var(--font-google-sans-code);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--clr-gray-existential-angst);
    --foreground: var(--clr-gray-white-edgar);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-google-sans-code);

  & main {
    padding: 242px 48px 48px 242px;

    & .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

@media (max-width: 639px) {
  body {
    & main {
      padding: 156px 24px 24px 24px;

      & .container {
        align-items: center;
        text-align: center;
      }
    }
  }
}
