@import '../../styles/colors.css';

.exp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex: 1;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset-inline: -24px;
    inset-block-end: -24px;
    block-size: 0;
    border-block-end: 1px dashed var(--clr-green-winds-breath);
  }

  & > img {
    inline-size: 60px;
    block-size: 60px;
  }

  .plc {
    filter: grayscale(100%) brightness(55%) invert(10%) sepia(20%);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  inline-size: 100%;

  .head {
    display: flex;
    flex-direction: column;
    gap: 2px;

    & h2 > a {
      display: flex;
      justify-content: center;

      & > svg {
        inline-size: 16px;
        block-size: 16px;
        position: relative;
        inset-block-start: 2px;
        inset-inline-start: 2px;
      }
    }
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .item {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .icons {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 8px;
      margin-block-start: 4px;

      & img {
        block-size: 30px;
        inline-size: 30px;
        filter: grayscale(100%) brightness(55%) invert(10%) sepia(20%);
      }
    }

    & ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .exp .plc,
  .items .item .icons img {
    filter: grayscale(100%) brightness(1800%) invert(50%) sepia(20%);
  }
}

@media (min-width: 576px) {
  .exp > img {
    inline-size: 50px;
    block-size: 50px;
  }

  .content {
    padding-block-start: 10px;
  }

  .items .item {
    &:first-of-type {
      padding-block-start: 8px;
    }
  }
}

@media (min-width: 768px) {
  .exp {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    
    .content .head h2 > a {
      justify-content: flex-start;
    }

    .items .item {
      & ul {
        list-style-type: disc;
        padding-inline-start: 18px;
      }

      .icons {
        justify-content: flex-start;
      }
    }
  }
}

@media (min-width: 1200px) {
  .items .item {
    flex-direction: row;
    gap: 32px;
    
    & p:first-of-type {
      min-inline-size: 165px;
      text-align: end;
    }
  }
}

@media (min-width: 1400px) {
  .exp > img {
    inline-size: 60px;
    block-size: 60px;
  }
}
