@import "tailwindcss";
@import "../styles/colors.css";
@import "../styles/semantic.css";
@import "../styles/typography.css";


html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-inter);
  overflow-x: hidden;
  transition: background-color 0.6s ease-in-out;
  position: relative;

  /* &::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url("@/app/assets/logos/galaxy.jpg");
    background-size: cover;
    background-position: center;
  } */

  .container {
    /* padding-block: clamp(12rem, 23vw, 16rem) clamp(4rem, 5vw, 6rem); */
    min-block-size: 100dvh;
    inline-size: 100dvw;
    max-width: none;
    padding-block-start: 165px;
    display: flex;
    flex-direction: column;

    & > * {
      flex: 1;
    }
  }

  &[data-page="home"] {
    background: var(--color-bg);

    & header {
      justify-content: center;
    }
  }

  &[data-page="resume"] {
    background: var(--color-accent);

    .container {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    &::before {
      opacity: 0.05;
    }
  }

  & button {
    cursor: pointer;
  }
}
