@import "tailwindcss";
@import "../styles/colors.css";
@import "../styles/semantic.css";
@import "../styles/typography.css";

html,
body {
  min-block-size: 100dvh;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-inter);
  overflow-x: hidden;
  transition: background-color 0.6s ease-in-out;
  position: relative;

  .container {
    margin-inline: auto;
    max-inline-size: var(--max-width);
    min-block-size: 100dvh;
    padding-block: 90px;
    padding-inline: 50px;
    inline-size: 100%;

    & > * {
      flex: 1;
    }
  }

  &[data-page="home"] {
    & header {
      justify-content: center;
    }
  }

  &[data-page="resume"],
  &[data-page="resume-experience"],
  &[data-page="resume-skills"],
  &[data-page="resume-education"] {
    .container {
      display: flex;
      flex-direction: column;

      & > * {
        flex: unset;
      }

      & .pageHeader {
        padding-block: 0;
      }

      & > nav {
        padding-block: 80px;

        & > a {
          color: var(--clr-red-flicker-pink);

          & img {
            filter: brightness(0) saturate(100%) invert(14%) sepia(75%) saturate(4463%) hue-rotate(313deg) brightness(90%);
          }
        }
      }
    }
  }

  &[data-page="resume-experience"] {
    .container {
      block-size: 100dvh;
      overflow: hidden;
      padding-block-end: 0;
    }
  }

  & button {}
}

@media (min-width: 576px) {
  body {
    .container {
      padding-block: 120px 100px;
      padding-inline: 64px;
    }

    /* &[data-page="resume-experience"] {
      .container {
        padding-inline-end: 0;
      }
    } */
  }
}
@media (min-width: 768px) {
  body {
    .container {
      padding-block-start: 200px;
    }

    &[data-page="resume-experience"] {
      .container {
        padding-inline: 0;
      }
    }
  }
}
@media (min-width: 1300px) {
  body {
    &[data-page="resume-experience"] {
      .container {
        max-width: unset;
      }
    }
  }
}
