.layout {
  display: flex;
  flex-direction: column;
  gap: 0;
  min-block-size: 100%;
}

.panels {
  display: flex;
  gap: 48px;
  padding-block: 80px;
  position: relative;
  left: -130px;
  inline-size: 100dvw;

  .nav {
    display: flex;
    flex-direction: column;
    min-inline-size: 280px;
    padding-inline-start: 130px;

    & > nav {
      & > a {
        font-size: 16px;
      }
    }
  }

  & main {
    inline-size: 100%;
    overflow-x: auto;
    padding-block-start: 14px;
  }
  .panel {
  }
}
