@import "../../../styles/colors.css";

.content {
  max-inline-size: 900px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  inline-size: 100%;
}

.work {
  background-color: var(--clr-gray-black);
  padding: 3rem 6rem;
}

@media (min-width: 768px) {
  body .resume:global(.container) {
    text-align: start;
  }

  .content {
    gap: 36px;
  }
}
