.iconBtn {
  border: 1px solid var(--clr-gray-white);
  block-size: 32px;
  inline-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 4px;

  &:hover {
    background-color: color-mix(in oklab, var(--clr-gray-white) 30%, transparent);
    color: var(--clr-gray-black);
  }

  @media (width >= 576px) {
    block-size: 64px;
    inline-size: 64px;
  }
}
