@import '../../styles/colors.css';

.header {
  position: fixed;
  inset-block-start: 24px;
  inset-inline: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;

  & > div > a {
    display: flex;
    margin-inline: auto;
  }

  & :global(.logo) {
    block-size: auto;
    inline-size: clamp(75px, 25vw, 125px);
  }

  .logoScroll {
    transition: all 0.3s ease-in-out;
  }
}

.lines {
  position: absolute;
  inset: 0 0 auto 10dvw;
  z-index: -1;
  block-size: auto;
  inline-size: 100%;
  display: flex;
  justify-content: flex-start;
  pointer-events: none;
  opacity: 0.15;

  > img {
    block-size: auto;
    inline-size: 100dvw;
  }

  &[data-page="/"] {
    opacity: 0.8;
  }
}

.back {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-start: 24px;
  transition: all 0.3s ease-in-out;
}

@media (width >= 576px) {
  .header {
    align-items: start;
    justify-content: space-between;
    inset-inline: 24px;

    & > div:last-of-type {
      margin-inline-start: auto;
    }
  }

  .lines {
    inset-block-start: -100px;
  }

  .back {
    position: relative;
    inset-block-start: 0;
    inset-inline-start: 0;
  }
}

@media (width >= 768px) {
  .lines {
    inset-block-start: -300px;
  }

  .back.projectBack {
    transform: translateX(6rem);
  }
}
