.header {
  position: fixed;
  inset-block-start: 12px;
  inset-inline: 12px;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & button {
    border-width: 1px;
    border-color: color-mix(in oklab, var(--clr-gray-white) 25%, transparent);
    padding: 0;
    block-size: 28px;
    inline-size: 28px;

    & img {
      filter: brightness(20%) saturate(100%) invert(35%);
      inline-size: auto;
      transform: rotate(-180deg);
    }
  }

  & :global(.logo) {
    block-size: auto;
    inline-size: 35px;
  }
}

@media (min-width: 576px) {
  .header {
    & :global(.logo) {
      inline-size: 65px;
    }

    & button {
      block-size: 32px;
      inline-size: 32px;
    }
  }
}
@media (min-width: 992px) {
  .header {
    & :global(.logo) {
      inline-size: 100px;
    }
  }
}
