@import '../../styles/colors.css';

.header {
  position: fixed;
  inset-block-start: 24px;
  inset-inline: 0;
  z-index: 2;
  display: flex;
  justify-content: center;

  & > div > a {
    display: flex;
    margin-inline: auto;
  }

  & :global(.logo) {
    block-size: auto;
    inline-size: clamp(75px, 25vw, 125px);
  }

  .logoScroll {
    transition: all 0.3s ease-in-out;
  }
}

@media (width >= 768px) {
  .header {
    justify-content: end;
    inset-inline-end: 24px;
  }
}
