.tabHolder {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & h3 {
    color: var(--clr-gray-black);
    font: 400 7vw/5vw var(--font-russo-one);
    text-transform: lowercase;
    transform-origin: 0 100%;
    transform: rotate(-10.1deg) translate(10dvw, -6px);
  }
}

@media (width >= 400px) {
  .tabHolder h3 {
    transform: rotate(-10.6deg) translate(10dvw, -6px);
  }
}

@media (width >= 576px) {
  .tabHolder h3 {
    transform: rotate(-10.8deg) translate(4rem, -7px);
    font-size: 6vw;
    line-height: 5vw;
  }
}

@media (width >= 768px) {
  .tabHolder h3 {
    transform: rotate(-10.8deg) translate(3rem, -9px);
  }
}

@media (width >= 992px) {
  .tabHolder h3 {
    transform: rotate(-11.2deg) translate(3rem, -9px);
  }
}

@media (width >= 1500px) {
  .tabHolder h3 {
    transform: rotate(-11.6deg)translate(3rem, -8px);
  }
}

@media (width >= 1800px) {
  .tabHolder h3 {
    transform: rotate(-12deg)translate(3rem, -4px);
  }
}
