.skillsContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.skillsSection {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(20% - 1px), 1fr));
    gap: 1px;
    
    & > span {
      background-color: color-mix(in oklab, var(--clr-gray-black) 10%, transparent);
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1;
    }

    & svg {
      block-size: 16px;
      inline-size: 16px;

      & path {
        fill: var(--clr-gray-white);
      }
    }
  }
}

@media (min-width: 420px) {
  .skillsSection {
    .icons {
      & svg {
        block-size: 18px;
        inline-size: 18px;
      }
    }
  }
}

@media (min-width: 768px) {
  .skillsContainer {
    flex-direction: row;
    padding-inline-end: 75px;
    gap: 64px;

    .skillsSection {
      min-inline-size: 450px;
      inline-size: 450px;

      .icons {
        justify-content: flex-end;

        & svg {
          block-size: 24px;
          inline-size: 24px;
        }
      }
    }
  }
}
