:root {
  
  /* Grays */
  --clr-gray-white: #FFFFFF;
  --clr-gray-white-edgar: #EDEDED;
  --clr-gray-cynical-black: #171717;
  --clr-gray-existential-angst: #0A0A0A;

  /* Greens */
  --clr-green-winds-breath: #DFE1DB;
  
}