:root {
  color-scheme: light dark;

  /* Grays */
  --clr-gray-white: light-dark(oklch(100% 0 0), oklch(15% 0 0));
  --clr-gray-white-edgar: light-dark(oklch(95% 0 0), oklch(20% 0 0));
  --clr-gray-cynical-black: light-dark(oklch(15% 0 0), oklch(95% 0 0));
  --clr-gray-existential-angst: light-dark(oklch(8% 0 0), oklch(100% 0 0));

  /* Greens */
  --clr-green-winds-breath: light-dark(oklch(90% 0.01 120), oklch(30% 0.01 120));  
}