:root {
  --h1: var(--clr-gray-existential-angst);
  --h2: var(--clr-gray-existential-angst);
  --h3: var(--clr-gray-cynical-black);
  --p: var(--clr-gray-cynical-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --h1: var(--clr-gray-white-edgar);
    --h2: var(--clr-gray-white-edgar);
    --h3: var(--clr-gray-white);
    --p: var(--clr-gray-white);
  }
}

h1 {
  font: 600 1.5rem/2rem var(--font-google-sans-code);
  color: var(--h1);
}
h2 {
  font: 500 1.15rem/1.5rem var(--font-google-sans-code);
  color: var(--h2);
}
h3 {
  font: 400 1.05rem/1.45rem var(--font-google-sans-code);
  color: var(--h3);
}

p {
  font: 400 0.85rem/1.35rem var(--font-google-sans-code);
  color: var(--p);
}

@media (min-width: 576px) {
  h1 {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
