h1 {
  font: 600 1.875rem/2.5rem var(--font-google-sans-code);
  color: var(--clr-gray-existential-angst);
}

p {
  font: 400 1rem/1.5rem var(--font-google-sans-code);
  color: var(--clr-gray-cynical-black);
}
