@import "../../styles/colors.css";

.image {
  height: auto;
  width: 200px;
  max-width: 100px;
}

.content {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 6px;

  & > h3 {
    font-style: italic;
    margin-top: 4px;
  }
}

.work {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 24px;
}

@media (min-width: 768px) {
  body .resume:global(.container) {
    text-align: left;
  }

  .image {
    position: absolute;
    right: 36px;
  }

  .content {
    gap: 36px;
  }

  .intro {
    text-align: left;
    padding-right: 100px;
  }
}
@media (min-width: 1100px) {
  .image {
    max-width: 150px;
    right: 16px;
  }
}
