.backdrop {
  position: fixed;
  inset: 0;
  background-color: color-mix(in oklab, var(--color-bg) 80%, transparent);
  z-index: 10;
}

.detail {
  background-color: var(--color-bg);
  border: 1px solid var(--clr-violet-pheromone);
  position: fixed;
  inset: 6px;
  z-index: 11;
  padding-block: 50px 0;
  padding-inline: 36px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: auto;
  block-size: calc(100dvh - 12px);
  overflow-x: hidden;

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-inline-size: var(--max-width);
    margin-inline: auto;
    inline-size: 100%;

    & > img {
      height: auto;
      width: 35px;
    }

    .plc {
      filter: grayscale(100%) opacity(0.5);
      width: 35px;
    }

    .intro {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 4px;

      .title {
        /* font: 700 22px/26px var(--font-inclusive-sans); */
        font: 700 clamp(12px, 4vw, 22px)/1 var(--font-inclusive-sans);
        text-transform: none;
      }

      .client {
        /* font: 400 16px/1 var(--font-russo-one);
        text-transform: uppercase;
        color: var(--clr-violet-belladonna); */
        font: 400 clamp(14px, 4vw, 28px)/1.15 var(--font-inclusive-sans);
      }

      .desc {
        margin-block-start: 8px;
        max-inline-size: 688px;
      }
    }

    .link {
      font: 400 14px/1 var(--font-russo-one);
      text-transform: uppercase;
      color: var(--clr-violet-belladonna);
      text-decoration: none;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .content {
    position: relative;
    left: -36px;
    /* inline-size: calc(100dvw - 28px); */
    inline-size: calc(100% + 72px);
    background-color: var(--clr-blue-lago);
    background: linear-gradient(66deg, #6FAB52 0%, #87BA6E 50%, #6FAB52 100%);
    box-shadow: 0 0 50px var(--clr-gray-black);
    padding: 40px 36px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    & > * {
      max-inline-size: calc(var(--max-width) - 130px);
      margin-inline: auto;
    }

    .stackBlock {
      display: flex;
      flex-direction: column;
      gap: 12px;

      & > h5 {
        color: var(--color-bg);
      }

      .stack {
        font: 400 14px/20px var(--font-inclusive-sans);
        color: var(--color-bg);

        /* & > img {
          filter: brightness(0) saturate(100%) invert(32%) sepia(98%) saturate(750%) hue-rotate(248deg) brightness(65%);
        } */
      }
    }

    .btm {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      margin: 0 auto;

      .stackBlock {
        order: 1;
        display: flex;
        flex-direction: column;
        gap: 0;
        /* inline-size: 230px; */
        inline-size: 100%;
        /* border: 1px solid color-mix(in oklab, var(--clr-gray-black) 5%, transparent); */

        & > h5 {
          /* background-color: color-mix(in oklab, var(--clr-gray-black) 5%, transparent); */
          color: var(--color-bg);
          padding: 0 4px;
        }

        .stack {
          /* padding-inline: 12px; */

          /* & > span {
            flex: 1;
          } */

          & > img {
            filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(5000%) hue-rotate(325deg) brightness(15%);
            width: 16px;
          }
        }
      }

      .responsibilities,
      .highlights {
        flex: 1;
        list-style-type: disc;
        padding-inline-end: 18px;

        & li {
          font: 400 var(--font-size-p)/var(--line-height-p) var(--font-inclusive-sans);
        }
      }
    }

    .stack {
      display: grid;
      /* grid-template-columns: repeat(auto-fill, minmax(calc(33% - 1px), 1fr)); */
      grid-template-columns: repeat(auto-fill, minmax(calc(20% - 1px), 1fr));
      gap: 1px;

      & > span {
        background-color: color-mix(in oklab, var(--clr-gray-black) 10%, transparent);
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
      }

      & svg {
        /* block-size: 32px;
        inline-size: 32px; */
        block-size: 24px;
        inline-size: 24px;

        & path {
          fill: var(--clr-gray-black);
        }
      }
    }
  }
}

.highlights {
  flex: 1;
  list-style-type: disc;
  padding-inline-end: 18px;
  padding-inline-start: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  & li {
    font: 400 13px/20px var(--font-inclusive-sans);
  }

  /* & li {
    font: 400 var(--font-size-p)/var(--line-height-p) var(--font-inclusive-sans);
  } */
}

@media (min-width: 420px) {
  .detail {
    .stack {
      grid-template-columns: repeat(auto-fill, minmax(calc(16% - 1px), 1fr));
    }
  }
}
@media (min-width: 576px) {
  .detail {
    padding-block-start: 100px;

    .stack {
      grid-template-columns: repeat(auto-fill, minmax(calc(12% - 1px), 1fr));
    }

    .header {
      & > img {
        width: 50px;
      }
    }
  }
}
@media (min-width: 768px) {
  .detail {
    inset: 12px;
    block-size: calc(100dvh - 24px);

    .header {
      flex-direction: row;
    }

    .content {
      /* padding-inline: 100px; */
    }
  }
}
@media (min-width: 992px) {
  .detail {
    padding-block-start: 150px;

    .content {
      .btm {
        flex-direction: row;

        .stackBlock {
          order: unset;
          inline-size: 200px;
        }
      }

      .stack {
        grid-template-columns: repeat(auto-fill, minmax(calc(33% - 1px), 1fr));
      }
    }
  }
}
